   /* Themed Styles */
body {
      background-color: #f9f9f9;
      font-family: 'Arial', sans-serif;
    }
.form-section {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
h2 {
      color: #5d4954;
      font-weight: bold;
    }
label {
      color: #5d4954;
      font-size: 1rem;
    }
input, textarea, button {
      border-radius: 6px;
    }
input, textarea {
      border: 1px solid #ccc;
      padding: 10px;
    }
button {
      background-color: #f2a25c;
      border: none;
      color: #fff;
      padding: 10px 20px;
      font-weight: bold;
      transition: background-color 0.3s;
    }
button:hover {
      background-color: #d98852;
    }
.form-container {
      max-width: 600px;
      margin: auto;
    }
footer {
      background-color: #5d4954;
      color: #fff;
      padding: 10px;
    }
footer p {
      margin: 0;
    }
.logo{
  max-width:100px;
  max-height:100px;
}

nav{
  background-color: #FFF0CB;
}

.strokeme {
  font-size: 50px;
  font-family: serif;
  /*text-align: center;*/
  color: #4C7031;
   text-shadow: -1px -1px 0 #F2AE1C, 1px -1px 0 #F2AE1C, 1px 1px 0 #F2AE1C,
    1px 1px 0 #F2AE1C;
}
